@page "/ClientesConsultas"
@inject ClientesBLL clientesBLL

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Telefono</th>
            <th>Celular</th>
            <th>RNC</th>
            <th>Email</th>
            <th>Direccion</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in L_Clientes)
        {
            <tr>
                <td>@item.ClienteId</td>
                <td>@item.Nombre</td>
                <td>@item.Telefono</td>
                <td>@item.Celular</td>
                <td>@item.Rnc</td>
                <td>@item.Email</td>
                <td>@item.Direccion</td>
            </tr>
        }
    </tbody>
</table>

@code {
    public List<Clientes> L_Clientes { get; set; } = new List<Clientes>();

    protected override void OnInitialized()
    {
        L_Clientes = clientesBLL.Listar(c => true);
    }
}